[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"
feedparser = "*"
peewee = "*"
requests = "*"
beautifulsoup4 = "*"
humanize = "*"

[dev-packages]

[requires]
python_version = "3.10"
